<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">

    <title>{% block title %}Freelance Blog{% endblock %}</title>
</head>

<body>

<header>
    <h1>Freelance Blog</h1>
    <hr>

    <nav>
        {% if user.is_authenticated %}
            <p>Привет, {{ user.username }}!</p>

            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            {# <a href="{% url 'signup' %}">Register</a> #}
        {% endif %}
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <hr>
    
    <p>© 2026</p>
</footer>


</body>
</html>


